*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

body{
background-color: aqua;}

#logo{
    vertical-align: middle;
}

#logo-text{
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
}

header{
    background-color: white;
    padding: 10px 0 10px 20px;
}

main{
    background-color: #fff;
    margin: 30px auto 0 auto;
    width: 80%;
   
    border-radius: 10px;
}

main div{
    border-bottom: 1px solid grey;
    padding: 20px;
}


#list-items{
    padding: 20px;
}

ul{
    line-height: 140%;
    list-style: none;
}

.inner-list{
    margin-left: 1em;
}

ul li h3::before{
    content: "\25BE"
}

li.checked::before{
    content: "\2713";
    font-size: 12px;
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    /* padding: 2px 5px; */
    margin-right: 10px;

    width: 15px;
    height: 15px;
     display: inline-block; /*IMPORTANTE TRAFORMARLI IN INLINE-BLOCK ALTRIMENTI NON PRENDONO WIDTH ED HEIGHT */
    text-align: center;
    line-height: 15px;
}

li.cross::before{
    content: "\292B";
    font-size: 12px;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    /* padding: 2px 5px; */
    margin-right: 10px;

    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    line-height: 15px;
}

li.etichetta::after{
    padding: 3px;
    border-radius: 10px;
    color: white;
    margin-left: 5px;
    font-size: 10px;
}

li.editorial::after{    
    content:"editorial";
    background-color:aqua;
}

li.recruiting::after{
    content:"recruiting";
    background-color: green;
}